.mySearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5vw;
    margin-bottom: 20vw;
    margin-top: 3vw;
    /* width:100vw; */

}

.descriptionUl{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.descriptionLi{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.descriptionLi div{
    text-align: right;
}

.descriptionLi div button{
    background: #dfa65b;
    color: white;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 10vw;
  } */

.searchFront{
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  /* .searchFront-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%;
    left: 0;
    right: 0;
  } */
  /* .searchFront-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .searchFront-items div:hover {
    /*when hovering an item:*/
    /* background-color: #e9e9e9;
  } */
  /* .searchFront-active { */
    /* when navigating through the items using the arrow keys:*/ 
    /* background-color: DodgerBlue !important; */
    /* color: #ffffff; */
  /* }  */